/* ------- START OF ROOT CSS ------- */

@import url('https://fonts.googleapis.com/css?family=Karla|Raleway:200,300,400');

:root {
  --primary-font: 'Raleway', sans-serif;
  --secondary-font: 'Karla', sans-serif;
  --primary-font-color: #eee;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-font-color);
  scroll-behavior: smooth;
}

h1 {
  margin: 0;
  font-family:var(--secondary-font);
}

/* ------- END OF ROOT CSS ------- */


/* ------- START OF LANDING PAGE CSS ------- */

.LandingPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 700px;
  position: relative;
  background: linear-gradient(to left, rgba(152,132,255,0.25), rgba(152,132,255,0.25)), url(../resources/images/hero.jpg) center center no-repeat;
  background-size: cover;
}

.LandingPage h1, .LandingPage h2  {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 3em;
  letter-spacing: 2px;
  margin: 20px 0;
}

.LandingPage h2 {
  font-weight: 300;
  margin-top: 0.5em;
}

.logo {
  text-align: center;
  margin: 100px auto;
}

.logo-img {
  height: 300px;
  width: 300px;
}

.mouse, .indicator {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.indicator {
  font-family: var(--primary-font);
  font-weight: 300;
  margin: 0;
  bottom: 5px;
  letter-spacing: 1px;
  cursor: pointer;
}

.mouse p {
  bottom: 0;
}

.mouse-img {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  max-width: 30px;
  animation: bounce 0.5s infinite linear;
}

@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.3em; }
    70% { top: -0.4em; }
    100% { top: 0; }
}

/* ------- END OF LANDING PAGE CSS ------- */

/* ------- START OF SIDEBAR CSS ------- */

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: inherit;
  min-height: inherit;
  width: 75px;
  background: #1F1F1F;
  position: relative;
  transition: 1s ease all;
}

.sidebar-wrapper > *:not(.hamburger) {
  display: none;
}

.sidebar-wrapper.open > * {
  display: block;
}

.sidebar-wrapper h2{
  display: none;
}

.sidebar-wrapper.open {
  min-width: 300px;
  overflow: hidden;
}

.sidebar-wrapper.open h2 {
  font-family: var(--primary-font);
  font-weight: 300;
  padding: 0;
  margin-top: 1em;
  text-transform: capitalize;
  position: relative;
  white-space: nowrap;
  display: block;
}

.sidebar-wrapper.open h2::after {
  position: absolute;
  content: "";
  background: var(--primary-font-color);
  width: 200px;
  margin: 0 auto;
  height: 2px;
  bottom: -10px;
  left: 0;
  right: 0;
}

.country-selector {
  height: 100%;
}

.population {
  display: flex;
  margin: 15px;
}

.sidebar-wrapper .hamburger-box {
  display: flex;
  justify-content: center;
  width: 30px;
}

.sidebar-wrapper.open .hamburger {
  position: absolute;
  right: 0;
  padding: 5px;
}

.sidebar-wrapper.open .hamburger-box {
  display: flex;
  justify-content: center;
  width: 30px;
}

.sidebar-wrapper .hamburger-box {
  display: flex;
  justify-content: center;
  width: 30px;
  margin: auto;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background: var(--primary-font-color);
  width: 20px;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
  background-color: var(--primary-font-color);
}

.sidebar-wrapper.open .countries, .sidebar-wrapper.open .statistics {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80%;
  margin: 0 20px;
  font-family: var(--primary-font);
  font-weight: 200;
}

.sidebar-wrapper.open .country, .sidebar-wrapper.open .stat {
  margin: 20px 0;
}

.sidebar-wrapper.open .col-1, .sidebar-wrapper.open .col-2 {
  text-align: left;
}

.sidebar-wrapper.open .col-1 {
  margin-right: 10px;
}

.sidebar-wrapper.open .col-2 {
  margin-left: 10px;
}

/* ------- END OF SIDEBAR DISPLAY PAGE CSS ------- */

/* ------- START OF DATA DISPLAY PAGE CSS ------- */

.dataPage {
  display: flex;
  height: 100vh;
  min-height: 700px;
  overflow: hidden;
}

.data-content {
  background: #eee;
  height: inherit;
  width: Calc(100vw - 75px);
  overflow: scroll;
}

.data-content::-webkit-scrollbar {
  display: none;
}

.data-section1 {
  width: 100%;
  height: 100vh;
  min-height: 700px;
  background-color: white;
  color: black;
}

.data-section2, .data-section3, .data-section4 {
  width: 100%;
  /* height: 50%; */
  background: white;
  min-height: Calc(700px - 50%);
}

.line {
  fill: none;
  /* stroke: black; */
  stroke-width: 2px;
}

.line2 {
  /*stroke: black;*/
  stroke-width: 2px;
}

.darkheading {
  color: rgb(100,100,100);
  padding-top: 1em;
}

.data-section2 {
  background: #eee;
  height: 700px;
  position: relative;
}

.data-section2 .button-cont {
  position: absolute;
  top: 15px;
  right: 15px;
}

.data-section2 button {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  font-family: var(--secondary-font);
}

#scatter_start {
  background: rgba(0, 176, 86, 0.5);
  transition: 0.5s ease all;
}

#scatter_start:hover {
  background: rgba(0, 176, 86, 1);
  border: 2px solid rgb(0, 182, 24);
}

#scatter_pause {
  background: rgba(255, 46, 0, 0.5);
  transition: 0.5s ease all;
}

#scatter_pause:hover {
  background: rgba(255, 46, 0, 0.8);
  border: 2px solid rgba(255, 46, 0, 1);
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ////////////// */

.graph1 {
  background-color: white;
  border: solid black 2px;
  color: black;
}

.svg-graph-1 {
  background-color: white;
  border: solid black 2px;
}

.node:hover{
  stroke-width: 3px !important;
  opacity: 1 !important;
}

.tooltip {
  background: #fff;
  color: black;
  font-family: monospace;
  font-size: 15px;
  max-width: 150px;
  opacity: 0.5;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
}

.ds5 {
  color: black;
  display: flex;
}

/* ------- END OF DATA DISPLAY PAGE CSS ------- */

/* ------- START OF DATA SCATTER PLOT CSS ------- */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.dot {
  stroke: #000;
}

text  {
  color: black;
}

/* ------- END OF DATA SCATTER PLOT  CSS ------- */
