/* ------- START OF ROOT CSS ------- */

@import url('https://fonts.googleapis.com/css?family=Karla|Raleway:200,300,400');

:root {
  --primary-font: 'Raleway', sans-serif;
  --secondary-font: 'Karla', sans-serif;
  --primary-font-color: #eee;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-font-color);
  scroll-behavior: smooth;
}

h1 {
  margin: 0;
  font-family:var(--secondary-font);
}

/* ------- END OF ROOT CSS ------- */


/* ------- START OF LANDING PAGE CSS ------- */

.LandingPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 700px;
  position: relative;
  background: linear-gradient(to left, rgba(152,132,255,0.25), rgba(152,132,255,0.25)), url(../resources/images/hero.jpg) center center no-repeat;
  background-size: cover;
}

.LandingPage h1, .LandingPage h2  {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 3em;
  letter-spacing: 2px;
  margin: 20px 0;
}

.LandingPage h2 {
  font-weight: 300;
  margin-top: 0.5em;
}

.logo {
  text-align: center;
  margin: 100px auto;
}

.logo-img {
  height: 300px;
  width: 300px;
}

.mouse, .indicator {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.indicator {
  font-family: var(--primary-font);
  font-weight: 300;
  margin: 0;
  bottom: 5px;
  letter-spacing: 1px;
  cursor: pointer;
}

.mouse p {
  bottom: 0;
}

.mouse-img {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  max-width: 30px;
  animation: bounce 0.5s infinite linear;
}

@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.3em; }
    70% { top: -0.4em; }
    100% { top: 0; }
}

/* ------- START OF SIDEBAR CSS ------- */

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  min-height: inherit;
  width: 75px;
  background: #1F1F1F;
  position: relative;
  transition: 1s ease all;
}

.navbar-fixed {
top: 0;
z-index: 1;
position: sticky;
}

.sidebar-wrapper > *:not(.hamburger) {
  pointer-events: none;
  opacity: 0;
  overflow: hidden;
}

.sidebar-wrapper.open > * {
  pointer-events: all;
  display: block;
  opacity: 1;
  transition: 3s ease opacity;
}

.sidebar-wrapper h2{
  display: none;
}

.sidebar-wrapper.open {
  width: 300px;
}

.sidebar-wrapper.open h2 {
  font-family: var(--primary-font);
  font-weight: 300;
  padding: 0;
  margin-top: 1em;
  text-transform: capitalize;
  position: relative;
  white-space: nowrap;
  display: block;
}

.sidebar-wrapper.open h2::after {
  position: absolute;
  content: "";
  background: var(--primary-font-color);
  width: 200px;
  margin: 0 auto;
  height: 2px;
  bottom: -10px;
  left: 0;
  right: 0;
}

.country-selector {
  height: 100%;
  width: inherit;
}

.population {
  display: flex;
  margin: 15px;
}

.sidebar-wrapper .hamburger-box {
  display: flex;
  justify-content: center;
  width: 30px;
}

.sidebar-wrapper.open .hamburger {
  position: absolute;
  right: 0;
  padding: 5px;
}

.sidebar-wrapper.open .hamburger-box {
  display: flex;
  justify-content: center;
  width: 30px;
}

.sidebar-wrapper .hamburger-box {
  display: flex;
  justify-content: center;
  width: 30px;
  margin: auto;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background: var(--primary-font-color);
  width: 30px;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
  background-color: var(--primary-font-color);
}

.sidebar-wrapper.open .countries {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:flex-start;
  height: 50%;
  margin: 0 20px;
  font-family: var(--primary-font);
  font-weight: 200;
}

.sidebar-wrapper.open .country {
  margin: 20px 0;
}

.sidebar-wrapper.open .col-1, .sidebar-wrapper.open .col-2 {
  text-align: left;
}

.sidebar-wrapper.open .col-1 {
  margin-right: 10px;
}

.sidebar-wrapper.open .col-2 {
  margin-left: 10px;
}

.about {
  font-family: var(--primary-font);
  font-weight: 200;
}

/* ------- START OF DATA DISPLAY PAGE CSS ------- */

.dataPage {
  display: flex;
  height: auto;
  min-height: 700px;
  position: relative;
}

.data-content {
  background: #eee;
  height: inherit;
  width: Calc(100vw - 75px);
  overflow: hidden;
}

.data-content::-webkit-scrollbar {
  display: none;
}

.data-section1 {
  width: 100%;
  /* height: 100vh; */
  min-height: 700px;
  background-color: #eee;
  color: black;
}

.data-section2, .data-section3, .data-section4 {
  width: 100%;
  background: white;
  min-height: Calc(700px - 50%);
  font-family: var(--primary-font)
}

.darkheading {
  color: rgb(100,100,100);
  padding-top: 1em;
}

.data-section2 {
  background: #eee;
  height: 700px;
  position: relative;
}

.data-section5 {
  height: 700px;
  position: relative;
}


.data-section2 .button-cont {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.data-section2 button {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  font-family: var(--secondary-font);
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-size {
  display: none;
}

/* ------- START OF BUTTON CSS ------- */

#scatter_start {
  background: rgba(0, 176, 86, 0.5);
  transition: 0.5s ease all;
}

#scatter_start:hover {
  background: rgba(0, 176, 86, 1);
  border: 2px solid rgb(0, 182, 24);
}

#scatter_pause {
  background: rgba(255, 46, 0, 0.5);
  transition: 0.5s ease all;
}

#scatter_pause:hover {
  background: rgba(255, 46, 0, 0.8);
  border: 2px solid rgba(255, 46, 0, 1);
}

/* ------- START OF SVG CSS ------- */

.graph1 {
  background-color: white;
  border: solid black 2px;
  color: black;
}

.svg-graph-1 {
  background-color: white;
  border: solid black 2px;
}

.node:hover{
  stroke-width: 3px !important;
  opacity: 1 !important;
}

.tooltip {
  background: #fff;
  color: black;
  font-family: var(--primary-font);
  font-size: 15px;
  max-width: 150px;
  opacity: 0.5;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
}

.d3-tip {
  font-family: var(--primary-font);
  font-weight: 300;
  text-align: center;
  font-size: 12px;
}

.ds5 {
  color: black;
  display: block;
  height: 700px !important;
}

.chart-area-1 {
  display: block;
}

.svg-graph-5 {
  height: 731px !important;
}

.line {
  fill: none;
  /* stroke: black; */
  stroke-width: 2px;
}

.line2 {
  /*stroke: black;*/
  stroke-width: 2px;
}

/* ------- START OF DATA SCATTER PLOT CSS ------- */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.dot {
  stroke: #000;
}

text  {
  color: black;
}

/* ------- START OF LEGEND CSS ------- */

.legend {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #555;
  text-align: left;
  height: 100vh;
  font-family: var(--primary-font);
  font-size: 0.7em;
  background-color: rgba(255, 255, 255, 0.5);
  min-width: 120px;
  max-width: 150px;
  padding: 10px 0 10px 5px;
  border-left: 1px solid grey;
}

.legend span {
  min-width: 20px;
  border-radius: 5px;
  margin-right: 3px;
}

.australia {
  background-color: #ffba49;
  color: #ffba49;
}

.brazil {
  background-color: #20a39e;
  color: #20a39e;
}

.canada {
  background-color: #DC143C;
  color: #DC143C;
}

.china {
  background-color: #663399;
  color: #663399;
}

.france {
  background-color: #f2e3bc;
  color: #f2e3bc;
}

.india {
  background-color: #ff8552;
  color: #ff8552;
}

.ireland {
  background-color: #14cc60;
  color: #14cc60;
}

.italy {
  background-color: #931621;
  color: #931621;
}

.mexico {
  background-color: #87CEEB;
  color: #87CEEB;
}

.nigeria {
  background-color: #C0C0C0;
  color: #C0C0C0;
}

.netherlands {
  background-color: #d1f5ff;
  color: #d1f5ff;
}

.new-zealand {
  background-color: #7d53de;
  color: #7d53de;
}

.thailand {
  background-color: #e5446d;
  color: #e5446d;
}

.united-kingdom {
  background-color: #f76f8e;
  color: #f76f8e;
}

.united-states {
  background-color: #BC8F8F;
  color: #BC8F8F;
}

@media (max-width: 600px){
  .logo h2 {
    font-size: 2em;
  }

  .data-section1, .data-section2, .data-section3, .data-section4, .data-section5, .legend {
    display: none;
  }

  .data-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-size {
    display: flex;
    font-family: var(--primary-font);
    font-size: 0.8em;
    text-align: justify;
    text-align-last: center;
    color: #000;
    padding: 20px;
  }

  .page-size h2 {
    font-weight: 200;
  }
}
